<div ng-transclude></div>

<ul class="list-group">
  <li class="list-group-item" ng-repeat="issue in issues" ng-bind-html="formatData(issue)">
  </li>
  <li class="list-group-item text-center" ng-if="loading">
    <i class="fa fa-spinner fa-spin"></i>
  </li>
  <li class="list-group-item" ng-if="loadingErrors.length">
    <div class="alert alert-danger" ng-repeat="error in loadingErrors">
      Error loading:
      <strong ng-bind="error.src"></strong>
      <span ng-if="error.labels">labels</span> <strong ng-bind="error.labels"></strong>
      <span ng-if="error.status">status</span> <strong ng-bind="error.status"></strong>
      <span ng-if="error.milestone">milestone</span> <strong ng-bind="error.milestone"></strong>
    </div>
  </li>
</ul>
