<div ng-transclude></div>
<table class="table">
  <thead>
    <tr>
      <th ng-repeat="col in columns" ng-bind="headerText(col)"></th>
      <th><!-- functions --></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="issue in issues" ng-class="issueRowStyle(issue)">
      <td ng-repeat="col in columns" ng-bind-html="formatColumnData(col, issue)"></td>
      <!--
      functions:
        - show conversation
        - show full body
      -->
      <td>
        <a ng-click="showDiscussion(issue)"><i class="fa fa-comments-o"></i></a>
        <a ng-click="showFullIssue(issue)"><i class="fa fa-ellipsis-h"></i></a>
      </td>
    </tr>
  </tbody>
</table>
<div ng-if="selectedIssueData == 'description'" btf-markdown="issue.description"></div>
<div ng-if="selectedIssueData == 'notes'">
  <div ng-repeat="note in issue.notes" ng-bind="note.body">
  </div>
</div>